﻿@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="article-list">
            <div class="entry-title text-center">
                <h2 class="article-title">Who are we?</h2>
                <div class="entry-featured-content shadow-z-2">
                    <img class="img-responsive" src="~/Content/img/about.jpg" alt="">
                </div>
            </div>
            <br /><div class="entry-content">
                <blockquote>
                    <h2 class="aligncenter">Mission (Vision & Values)</h2>
                </blockquote>
                <h4>
                    Our mission is to provide protection against villains and educate our community about safety. We hope to develop a community of pro-active citizens who are vigilant in keeping streets safe through knowledge and awareness.
                    offer one self-defense course per week at our Super Heroes, Inc. Training Center and one education course a week at the local library.
                </h4>

                <hr />
                    <h3>
                        Super Heroes, Inc. is a dedicated group of heroes who strive to provide programs that emphasize growth through education, safety training,
                        and challenges. We provide citizens of all ages with hands-on, interactive programs to encourage safety and respect for others.
                    </h3>
             
                <h1><a href="~/Cours/Index" class="btn-danger aligncenter">Check out the classes</a></h1>
            </div>
        </div>
    </div>
</div>