﻿@model SuperHeroesInc.UI.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="article-list">
            <div class="entry-content">
                <div class="entry-title text-center">
                    <p>want to know more?</p>
                    <h2>Contact with us</h2>
                </div>
                <div id="map-canvas"></div>
                <!-- Google Maps API -->
                <script src="https://maps.googleapis.com/maps/api/js"></script>
                <script>
                    function initialize() {
                        var mapOptions = {
                            zoom: 17,
                            scrollwheel: false,
                            center: new google.maps.LatLng(18.013764, -76.801992)
                        };

                        var map = new google.maps.Map(document.getElementById('map-canvas'),
                            mapOptions);


                        var marker = new google.maps.Marker({
                            position: map.getCenter(),
                            icon: 'img/map-marker.png',
                            map: map
                        });

                    }

                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>

            </div>

            <h2>@ViewBag.Message</h2>
            <h2>@ViewBag.ErrorMessage</h2>
            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>



        </div>
    </div>
</div>