﻿

@{ViewBag.Title = "Index";}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="article-list">
            <article class="post">
                <header class="article-title text-center">
                    <p><a href="~/Home/About">Hey Look</a></p>
                    <h2><a href="~/Home/About">It's Green Deadpool</a></h2>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <a href="~/Home/Single"><img class="img-responsive" src="~/Content/img/post-2.jpg" alt="A pixelated image of green lantern"></a>
                </div>

                <div class="post-detail-link text-center">
                    <a href="~/Home/Single" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>


            <article class="post">
                <header class="article-title text-center">
                    <p><a href="~/Home/Archive">Spiderman</a></p>
                    <h2><a href="~/Home/Single">Picture taken on iPhone 10x</a></h2>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <a href="~/Home/Single"><img class="img-responsive" src="~/Content/img/post-1.jpg" alt=""></a>
                </div>
                <div class="post-detail-link text-center">
                    <a href="~/Home/Single" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>

            <article class="post">
                <header class="article-title text-center">
                    <p><a href="~/Home/Archive">Spoiler alert</a></p>
                    <h2><a href="~/Home/Single">Iron man dies</a></h2>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/113767337" width="500" height="281"></iframe>
                    </div>

                </div>
                <div class="post-summary">
                </div>
                <div class="post-detail-link text-center">
                    <a href="~/Home/Single" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>
            <article class="post">
                <header class="article-title text-center">
                    <p><a href="~/Home/Archive">Hey Niko! It's Hulk!</a></p>
                    <h2><a href="~/Home/Single">Want to go bowling?</a></h2>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y9FUzBEH_v8" width="500" height="281"></iframe>
                    </div>
                </div>
                <div class="post-summary">
                </div>
                <div class="post-detail-link text-center">
                    <a href="~/Home/Single" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>
            <article class="post">
                <header class="article-title text-center">
                    <p><a href="~/Home/Archive">Thor</a></p>
                    <h2><a href="~/Home/Single">Every Mom's favorite Avenger</a></h2>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <img class="img-responsive" src="~/Content/img/article-2.jpg" alt="">
                </div>
                <div class="post-summary">
                </div>
                <div class="post-detail-link text-center">
                    <a href="~/Home/Single" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>
            <article class="post">
                <header class="article-title text-center">
                    <p><a href="~/Home/Archive"></a></p>
                    <h2><a href="~/Home/Single">Underrated Avenger</a></h2>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <a href="~/Home/Single"><img class="img-responsive" src="~/Content/img/article-3.jpg" alt=""></a>
                </div>
                <div class="post-summary">
                </div>
                <div class="post-detail-link text-center">
                    <a href="~/Home/Single" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>
            <article class="post">
                <header class="article-title text-center">
                    <p></p>
                    <h2><a href="~/Home/Single">Katniss Jr.</a></h2>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <a href="~/Home/Single"><img class="img-responsive" src="~/Content/img/article-4.jpg" alt=""></a>
                </div>
                <div class="post-summary">
                </div>
                <div class="post-detail-link text-center">
                    <a href="~/Home/Single" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>
            <article class="post">
                <header class="article-title text-center">
                    <p><a href="~/Home/Archive">Honestly</a></p>
                    <h2><a href="~/Home/Single">I can't tell who this is</a></h2>
                </header>
                <div class="article-featured-content shadow-z-2">
                    <a href="~/Home/Single"><img class="img-responsive" src="~/Content/img/article-5.jpg" alt=""></a>
                </div>
                <div class="post-summary">
                </div>
                <div class="post-detail-link text-center">
                    <a href="~/Home/Single" class="btn btn-fab btn-raised btn-material-red">
                        <i class="fa fa-plus"></i>
                        <div class="ripple-wrapper"></div>
                    </a>
                </div>
            </article>


            <nav role="navigation" class="navigation posts-navigation">
                <div class="nav-links">
                    <div class="nav-previous">
                        <a href="~/Home/Archive">Older posts</a>
                    </div>
                    <div class="nav-next">
                        <a href="~/Home/Index">Newer posts</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>













