﻿
@{
    ViewBag.Title = "Single";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="article-list">
            <div class="entry-title text-center">
                <p>who we are?</p>
                <h2>About the Avengers</h2>
            </div>

            <div class="entry-featured-content shadow-z-2">
                <img class="img-responsive" src="img/single.jpg" alt="">
            </div>

            <div class="entry-content">
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>

                <blockquote>
                    <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                </blockquote>

                <p>Ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet.</p>
            </div>

            <div class="entry-bottom">
                <p><span class="post-tags"><strong><i class="fa fa-tags"></i> Tags:</strong> <a href="">Hulk</a>, <a href="">Destroy</a></span> <span class="post-share"><i class="fa fa-share-alt"></i> Share with friends</span></p>
            </div>



            <div class="post-author-meta">
                <div class="author-photo">
                    <img class="img-responsive" src="img/eva.jpg" alt="">
                </div>
                <div class="author-right-info">
                    <h2>Eva Rahman</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
                    <p><a href="http://wpexpand.com">http://wpexpand.com</a></p>
                </div>
            </div>
            <div id="comments" class="comments-area">
                <div class="comment-area">
                    <h2 class="comment-title">4 Comments on "Colorful Freedom"</h2>
                    <ol class="comment-list">
                        <li class="comment even thread-even depth-1">
                            <article class="comment-body">
                                <div class="comment-author-img">
                                    <img src="img/avatar_1.jpg" alt="">
                                </div>
                                <div class="comment-content">
                                    <h3><a href="http://wordpress.org">Sakib Khan</a> <span><i class="fa fa-clock-o"></i> 3 days ago</span></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
                                </div>
                                <div class="reply"><a class="comment-reply-link" href="">Reply</a></div>
                            </article>
                            <!-- .comment-body -->
                        </li>
                        <li class="comment even thread-even depth-1">
                            <article class="comment-body">
                                <div class="comment-author-img">
                                    <img src="img/avatar_2.jpg" alt="">
                                </div>
                                <div class="comment-content">
                                    <h3><a href="http://wordpress.org">Sir. Ananta Jalil</a> <span><i class="fa fa-clock-o"></i> 3 days ago</span></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore possimus dolorum quas necessitatibus molestias delectus, quibusdam iure nisi placeat quos repellat laborum quae, vel, atque molestiae consequuntur! Nemo, recusandae.</p>
                                </div>
                                <div class="reply"><a class="comment-reply-link" href="">Reply</a></div>
                            </article>
                            <!-- .comment-body -->
                            <ul class="children">
                                <li class="comment even thread-even depth-1">
                                    <article class="comment-body">
                                        <div class="comment-author-img">
                                            <img src="img/avatar_3.jpg" alt="">
                                        </div>
                                        <div class="comment-content">
                                            <h3><a href="http://wordpress.org">Borsha Khan</a> <span><i class="fa fa-clock-o"></i> 3 days ago</span></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci nobis! A corrupti, animi mollitia expedita hic exercitationem temporibus nam perferendis, commodi nobis. Qui excepturi, debitis voluptas cum voluptatibus minima consequuntur tempore ab. Inventore, soluta eveniet quia repudiandae ab maxime quam cum quibusdam necessitatibus dignissimos ullam at praesentium, sed illum.</p>
                                        </div>
                                        <div class="reply"><a class="comment-reply-link" href="">Reply</a></div>
                                    </article>
                                    <!-- .comment-body -->
                                </li>
                            </ul>
                        </li>
                        <li class="comment even thread-even depth-1">
                            <article class="comment-body">
                                <div class="comment-author-img">
                                    <img src="img/avatar_4.jpg" alt="">
                                </div>
                                <div class="comment-content">
                                    <h3><a href="http://wordpress.org">Jems Bond</a> <span><i class="fa fa-clock-o"></i> 3 days ago</span></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci nobis! A corrupti, animi mollitia expedita hic exercitationem temporibus nam perferendis, commodi nobis. Qui excepturi, debitis voluptas cum voluptatibus minima consequuntur tempore ab. Inventore, soluta eveniet quia repudiandae ab maxime quam cum quibusdam necessitatibus dignissimos ullam at praesentium, sed illum.</p>
                                </div>
                                <div class="reply"><a class="comment-reply-link" href="">Reply</a></div>
                            </article>
                            <!-- .comment-body -->
                        </li>
                    </ol>
                    <!-- .comment-list -->
                </div>

                <div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
                    <form action="single.html" method="post" id="commentform" class="comment-form" novalidate="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-control-wrapper">
                                    <input type="text" class="form-control empty">
                                    <div class="floating-label">Your Name</div>
                                    <span class="material-input"></span>
                                </div>
                                <div class="form-control-wrapper">
                                    <input type="email" class="form-control empty">
                                    <div class="floating-label">Your Email</div>
                                    <span class="material-input"></span>
                                </div>
                                <div class="form-control-wrapper">
                                    <input type="url" class="form-control empty">
                                    <div class="floating-label">Your Website</div>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-control-wrapper">
                                    <textarea name="comment" id="comment" class="form-control empty" cols="30" rows="10"></textarea>
                                    <div class="floating-label">Your Comment</div>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <p class="form-submit">
                            <button type="submit" class="btn btn-danger">Submit comment</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>