﻿@model IEnumerable<SuperHeroesInc.Data.Cours>

@{
    ViewBag.Title = "Courses";
}


<h2 class="btn-danger aligncenter">Self Defense Classes</h2>
<ul>
    <li>Welcomes all ages to learn techniques to increase your personal safety.</li>
    <li><strong>The class meets on Monday evenings at 7:00pm.</strong></li>
</ul>
<h2 class="btn-danger aligncenter">Education</h2>
<ul>
    <li>The Education series provides hour long programs with some of our super heroes on staff who teach about various topics.</li>
    <li>The class meets <em>Thursday evenings at 7:30pm.</em></li>
</ul>
<h2 class="btn-danger aligncenter">Recent events include: </h2>
<ul>
    @foreach (var item in Model)
    {

        <li>@item.Name: @item.Description</li>


    }


</ul>











            @*<table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseID })
                                </td>
                                <td>

                                    @Html.ActionLink("Details", "Details", new { id = item.CourseID })
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                                </td>
                                    <td>
                                        @Html.ActionLink("Create New", "Create")
                                    </td>

                            }


                        </tr>
                    }

                </table>*@
