﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title | Super Heroes Inc.</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- MaterialCSS -->
    <link href="~/Content/material.min.css" rel="stylesheet" />
    <!-- RipplesCSS -->
    <link href="~/Content/ripples.min.css" rel="stylesheet" />

    <!-- ThemeCSS & Responsive CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="mySidenav" class="sidenav" style="z-index:10;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <br />
      


        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
            @Html.ActionLink("Roles", "Index", "RolesAdmin");
            @Html.ActionLink("Users", "Index", "UsersAdmin");


        }
        
        <br />

    </div>
    <div id="main">
        <header class="header">
            <div data-velocity="-.4" id="particles" class="header-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="social-links">
                            <a class="btn social-link" href=""><i class="fa fa-facebook"></i> <div class="ripple-wrapper"></div></a>
                            <a class="btn social-link" href=""><i class="fa fa-twitter"></i> <div class="ripple-wrapper"></div></a>
                            <a class="btn social-link" href=""><i class="fa fa-google-plus"></i> <div class="ripple-wrapper"></div></a>
                            <a class="btn social-link" href=""><i class="fa fa-youtube"></i> <div class="ripple-wrapper"></div></a>
                            <a href="~/Account/Login" class="btn social-link fa fa-user"></a>
                            <a href="~/Account/Register" class="btn social-link fa fa-plus-square"></a>




                        </div>
                    </div>
                </div>
            </div>




            <div class="site-title-table">
                <div class="site-title-tablecell">
                    <div class="slide-text">
                        <h2><a href="~/Home/Index"><span>S</span>uper<span>H</span>eros</a><span>I</span>nc.</h2>
                    </div>

                </div>
            </div>
        </header>

        <section class="maincontent-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="maincotnent shadow-z-1">
                            <div class="mainmenu">
                                <div class="navbar navbar-nobg">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <div class="navbar-collapse collapse">



                                        <ul class="nav navbar-nav">
                                           @if (Request.IsAuthenticated)
                                            {
                                                <li>
                                                    <a id="pointer"><span onclick="openNav()">User Menu</span></a>
                                                </li>
                                            }
                                            <li class="active"><a href="~/Home/Index">Home<div class="ripple-wrapper"></div></a></li>
                                            <li><a href="~/Home/About">About us</a></li>
                                            <li><a href="~/Cours/Index">Progams/Services</a></li>
                                            <li><a href="~/Home/Contact">Contact</a></li>

                                            <li><a href="/Cours/Index"></a>Courses</li>
                                            @if (Request.IsAuthenticated && User.IsInRole("Super Hero") || User.IsInRole("Admin"))
                                            {
                                                <li><a href="/Characters/Index">Heroes</a></li>
                                                <li><a href="/Characters/Villan">Villans</a></li>

                                            }





                                        </ul>
                                    </div>
                                </div>
                            </div>

                            @RenderBody()


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-lg-offset-1">
                        <div class="footer-wid">
                            <h2 class="wid-title">A<span>vengers</span></h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                                nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan,
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="footer-wid">
                            <h2 class="wid-title">Newsletter</h2>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

                            <div class="newsletter-form">
                                <form action="~/Home/Index">
                                    <input class="shadow-z-1" type="email" placeholder="Your Email address">
                                    <button type="submit" class="btn btn-material-red">Subscribe Now!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="copyright-text">
                                        <p>© 2015 Avengers - All Rights Reserved. Coded with <i class="fa fa-heart"></i> by <a href="http://wpexpand.com" target="_blank">WP Expand</a></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="social-links footer-social-links">
                                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-facebook"></i> <div class="ripple-wrapper"></div></a>
                                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-twitter"></i> <div class="ripple-wrapper"></div></a>
                                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-google-plus"></i> <div class="ripple-wrapper"></div></a>
                                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-youtube"></i> <div class="ripple-wrapper"></div></a>
                                        <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-linkedin"></i> <div class="ripple-wrapper"></div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginRight = "250px";
        }


        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginRight = "0";
        }
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/ripples.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.js"></script>
    <script src="~/Scripts/jquery.particleground.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", false);
</body>

</html>



@*<!-- #region navbar -->



        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Super Hereos Inc.", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>


    <!-- #endregion -->*@
