﻿@model IEnumerable<SuperHeroesInc.Data.CourseCharacter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Character.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.Name)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Character.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cours.Name)
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseCharacterID }) |
                </td>
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.CourseCharacterID }) |
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseCharacterID })
                </td>
                <td>
                    @Html.ActionLink("Create New", "Create")
                </td>

            }


        </tr>
    }

</table>
